@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";

    // Get the current time
    var currentTime = DateTime.Now;
    var greeting = "Good morning";
    if (currentTime.Hour >= 12)
    {
        greeting = "Good afternoon";
    }

    var name = "Adil";
}

<div class="text-center">
    <h1 class="display-4">@greeting, @name, Welcome to COMP367</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
